# Analyze Best Selling Amazon Books with Pandas

In [1]:
import pandas as pd

### Import dataset

In [3]:
df = pd.read_csv('bestsellers with categories.csv')

In [11]:
# Get the first 5 rows of the spreadsheet
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [12]:
# Get the shape of the spreadsheet
df.shape

(550, 7)

In [13]:
# Get the column names of the spreadsheet
df.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [14]:
# Get summary statistics for each column
df.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

## Clean the Data

In [16]:
##  Drop Duplicates
df.drop_duplicates(inplace=True)    ##By setting the inplace parameter to True, the changes are made directly to the original DataFrame.

In [18]:
## Converting Data Types
df["Price"] = df["Price"].astype(float)

## Run an Analysis

In [19]:
## Analyzing Author Popularity
author_counts = df['Author'].value_counts()
print(author_counts)

Author
Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: count, Length: 248, dtype: int64

In [20]:
##  Average Rating by Genre
avg_rating_by_genre = df.groupby("Genre")["User Rating"].mean()
print(avg_rating_by_genre)

Genre
Fiction        4.648333
Non Fiction    4.595161
Name: User Rating, dtype: float64

##  Export the Results

In [21]:
# Export top selling authors to a CSV file
author_counts.head(10).to_csv("top_authors.csv")

In [22]:
# Export average rating by genre to a CSV file
avg_rating_by_genre.to_csv("avg_rating_by_genre.csv")

## By Abdelhak Ait kadir

### Thank you